* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Ubuntu;
    text-align: center;
    color: rgb(23, 23, 31);
}

header {
    border-bottom: 2px solid black;
    padding-bottom: 2vh;
}

h1 {
    margin: 2vh;
}